<?xml version="1.0" encoding="UTF-8" standalone="yes"?><settings><autoConnect>false</autoConnect><captureMode>JAVA_SCREENSHOT</captureMode><correctIntensity>true</correctIntensity><enhanceColor>false</enhanceColor><enhancePerChannel>false</enhancePerChannel><enhanceValue>2.5</enhanceValue><enhanceValueB>1.0</enhanceValueB><enhanceValueG>1.0</enhanceValueG><enhanceValueR>1.0</enhanceValueR><greyDetectionThreshold>10</greyDetectionThreshold><horizontalMargin>0</horizontalMargin><horizontalRegions>16</horizontalRegions><pixelIteratorStepSize>2</pixelIteratorStepSize><scaleDownValue>0.67</scaleDownValue><scaleUpValue>0.2</scaleUpValue><verticalMargin>0</verticalMargin><verticalRegions>11</verticalRegions><weighColor>true</weighColor><weighFactor>2</weighFactor></settings>